* {
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-family: monospace;
    font-size: 33px;
    padding: 13px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 28px;
    margin-top: -10px;
}

.module {
    width: 310px;
    margin: auto;
}

img {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    border: 10px;
    border-style: solid;
}

span {
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bluegroup {
    background-color: rgb(175, 226, 235);
    border-color: rgb(38, 110, 122);
}

.home {
    background-color: rgb(38, 110, 122);
    color: rgb(175, 226, 235);
}

.piz {
    background-color: ;
    color: ;
}

.las {
    background-color: ;
    color: ;
}

.per {
    background-color: ;
    color: ;
}