* {
    box-sizing: border-box;
    border: 1px solid red;
}

div {
    text-align: center;
    font-family: monospace;
    font-size: 33px;
    padding: 13px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 28px;
    margin-top: -10px;
}

span {
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.home {
    background-color: rgb(38, 110, 122);
    color:lightslategrey
}

.piz {
    background-color: ;
    color: ;
}

.las {
    background-color: ;
    color: ;
}

.per {
    background-color: ;
    color: ;
}